/****btn_page_1****/

.emploi_1_1 {
    border-collapse: collapse;    
    font-size: 0.9em;
    font-family: sans-serif;
    background-color: #FFF;
    width: 80%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border-spacing: 5px 1.2rem;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    padding: 2% 2%;
    text-align: center;
}
.emploi_1_1 tr {
    padding: 12px 15px;
}

.emploi_1_1 tbody tr {
    border-bottom: 1px solid #dddddd;
}

.emploi_1_1 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.emploi_1_1 tbody tr:hover {
    background-color: #006EB0;
    color:#FFFFFF;
}
.emploi_1_1 tbody tr:last-of-type {
    border-bottom: 2px solid #666666;
}
.emploi_1_4 {
    font-weight: bold;
    background-color: #666;
    border: none;
    color: #FFF;
    padding: 3px;
    margin: 0.5rem;
}
.emploi_1_4:hover {
    font-weight: bold;
    background-color: #fff;
    color: #006EB0;
}
.emploi_1_5 {
    font-weight: bold;
    background-color: #006EB0;
    color: #FFF;
    font-size: 1.2em;
}
.emploi_1_5 > td{
    padding: 0.4rem;
}
.emploi_1_5:hover {
    font-weight: bold;
    background-color: #006EB0;
    color: #FFF;
}

.emploi_1_2{
    width:80%;
    margin: auto;
    font-size: 2em;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
    border-spacing: 5px 1.2rem;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #006EB0;
    padding: 1% 2%;
    border-radius: 30px;
}
.emploi_1_3{
	color:#fff;
	background-color:#006EB0;
    border: 1px solid;
    border-color: #006EB0;
    height: 6vh;
    font-size: 1em;
	outline: none;
	padding:1vh 1vw;
	text-transform:uppercase;
	border-radius:1.5em;
	cursor:pointer;
	position:relative;
    text-align: center;
    float: right;
}
.emploi_1_3:hover{
    background-color:#fff;
    color:#006EB0;
}

/****page ajout emploi****/
.emploi_2_1{
    width:80%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border-spacing: 5px 1.2rem;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    color: #006EB0;
    padding: 1% 2%;
    border-radius: 30px;
}
.emploi_2_1:hover{
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
.emploi_2_2{
    margin-bottom: 2%;
}
.emploi_2_3{
    float: center;
}
.emploi_2_4{
	color:#fff;
	background-color:#006EB0;
    border: 1px solid;
    border-color: #006EB0;
    height: 7vh;
    width: 13vw;
    font-size: 1.3em;
	outline: none;
	padding:1vh 1vw;
	text-transform:uppercase;
	margin-top:1vh;
	border-radius:1.5em;
	cursor:pointer;
	position:relative;
    text-align: center;
    float: right;
}
.emploi_2_4:hover{
    background-color:#fff;
    color:#006EB0;
}
.emploi_2_5{
    width:80%;
    margin: auto;
    font-size: 2em;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
    border-spacing: 5px 1.2rem;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #006EB0;
    padding: 1% 2%;
    border-radius: 30px;
}
.emploi_2_6{
	color:#fff;
	background-color:#006EB0;
    border: 1px solid;
    border-color: #006EB0;
    height: 6vh;
    width: 13vw;
    font-size: 1em;
	outline: none;
	padding:1vh 1vw;
	text-transform:uppercase;
	border-radius:1.5em;
	cursor:pointer;
	position:relative;
    text-align: center;
    float: right;
}
.emploi_2_6:hover{
    background-color:#fff;
    color:#006EB0;
}